package ui

import (
	"strings"

    "github.com/axzilla/templui/helpers"
)

templ page(data pageData) {
    @helpers.ComponentScripts()
    <html>
        <head>
            @title(data.config.AppName, data.pageName)
        </head>
        <body>
            @data.body
        </body>
    </html>
}

templ title(appName string, pageName string) {
    <title>{ strings.Join([]string{appName, pageName}, " - ") }</title>
}